body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-size: 80px;
  font-weight: bold;
  color: #4285f4;
}

.logo span:nth-child(2) {
  color: #ea4335;
}

.logo span:nth-child(3) {
  color: #fbbc05;
}

.logo span:nth-child(4) {
  color: #34a853;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 24px;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

body.hacker-mode {
  background-color: black !important;
}

.hacker-mode {
  background-color: black !important;
  color: green !important;
}

.hacker-mode .btn-primary,
.hacker-mode .btn-secondary {
  background-color: green !important;
  border-color: green !important;
  color: black !important;
}

.hacker-mode .logo {
  color: green !important;
}

.hacker-mode .logo span {
  color: green !important;
}

.bsod {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000aa;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

.top-right-corner {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.logout-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.logout-confirm .btn {
  margin: 0 10px;
}